<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TEXT VOTE</title>
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">TEXT VOTE</a>
      <span class="pull-right twbutton">
      </span>
    </div>
  </div>
</div><!-- /navbar -->
<div class="container">
<ul class="thumbnails">
{% for poll in polls %}
  <li class="span3">
    <div class="thumbnail">
      {% if poll.status == 'ONGOING' %}
      <span class="label label-important">{{ poll.status }}</span>
      {% else %}
      <span class="label">{{ poll.status }}</span>
      {% endif %}
      <h3>{{ poll.title }}</h3>
      <hr>
      <p>
        <a href="/view/{{ poll.id }}/">View detail</a>
      </p>
    </div>
  </li>
{% endfor %}
</ul>
<footer class="footer">
  <p class="pull-right">Created by @keiko713 / <a href="https://github.com/keiko713/">Fork me on GitHub</a></p>
</footer>
</div><!-- /container -->
<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
var nextpagenum = 2;
function getpage() {
  $.ajax({
    type: 'GET',
    url: "/page/" + nextpagenum + "/",
    success: function(data){
      html = data.html;
      var thumbnails = document.getElementById("id_thumbnails");
      thumbnails.innerHTML = thumbnails.innerHTML + html;
      adjusttime();

      nextpagenum += 1;
    }
  });
}
</script>
</body>
</html>
