<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VIEW | TEXT VOTE</title>
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">TEXT VOTE</a>
      <span class="pull-right twbutton">
      </span>
    </div>
  </div>
</div><!-- /navbar -->
<div class="container">
{% if poll.status == 'ONGOING' %}
<span class="label label-important">{{ poll.status }}</span>
{% else %}
<span class="label">{{ poll.status }}</span>
{% endif %}
<h1>{{ poll.title }}</h1>
{% if poll.status == 'ONGOING' %}
<h3>This poll will finish in {{ poll.deadline|timeuntil }}</h3>
{% endif %}
{% if poll.status == 'PENDING' %}
<h3>This poll has not yet begun. This poll will begin at {{ poll.start_date }}</h3>
{% endif %}
{% if poll.status == 'FINISHED' %}
<h3>This poll has finished at {{ poll.deadline }}</h3>
{% endif %}
<hr>
{% for choice in choices %}
<p><strong>{{ choice.choice }}</strong> : {{ choice.votes }}</p>
{% if poll.status == 'ONGOING' %}
<p><strong>VOTE NOW for {{ choice.choice }}</strong> : send a text '6531-9983 {{ choice.id }}' to '{{ phone_number }}'</p>
{% endif %}
<div class="progress progress-striped">
  <div class="bar" style="width: {{ choice.percentage }}%;"></div>
</div>
{% endfor %}
<div class="row">
</div>
<footer class="footer">
  <p class="pull-right">Created by @keiko713 / <a href="https://github.com/keiko713/">Fork me on GitHub</a></p>
</footer>
</div><!-- /container -->
<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
/*
$(function(){
   getpage();
);
function getpage() {
  $.ajax({
    type: 'GET',
    url: "/api/view/{{ poll.id }}/",
    success: function(data){
      choices = data.choices;
    }
  });
}
*/
</script>
</body>
</html>
